#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

# --------------------------------------------------

# ROUTE DES POSTS -----------------------------------------
# LISTE DES POSTS
# PATTERN: posts
# URL: index.php?posts=index
RewriteRule ^posts$ index.php?posts=index [L]

# ROUTE DES USERS -----------------------------------------
# LOGOUT USER
# PATTERN: users/logout
# URL: index.php?users=logout
RewriteRule ^users\/logout$ index.php?users=logout [L]


# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
